@{
  Layout = "_Layout";
}

@model DealershipManager.Models.Salesman

<h2>Add a dealership</h2>

<h4>Add dealership to this salesman: @Html.DisplayFor(model => model.Name)</h4>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.SalesmanId)

  @Html.Label("Select dealership")
  @Html.DropDownList("DealershipId")

  <input type="submit" value="Save" class="btn btn-lg btn-dark"/>
}

<p>@Html.ActionLink("Back to salesman list", "Index")</p>