@{
  Layout = "_Layout";
}

@model DealershipManager.Models.Dealership

<h2>Edit Dealership</h2>

<h4>Edit this dealership: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.DealershipId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)
  <input type="submit" value="Save" class="btn btn-lg btn-dark"/>
}
<p>@Html.ActionLink("Delete Dealership", "Delete", new {id = Model.DealershipId})</p>
<p>@Html.ActionLink("Back to Dealership List", "index")</p>